
# Catkin build artefacts
.catkin_tools/
.catkin_workspace
build/
devel/

src/cmake-build-debug/

# Logging outputs
*.log
*.stderr

# 3D models
stl.zip

# IntelliJ IDE artefacts
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore 'make' build artefacts
src/*.o
src/app_tmp.c
src/.depend
src/.version_win32
src/.version_win64
src/.version_linux32
src/.version_linux64
src/CarMaker.win32.exe
src/CarMaker.win64.exe
src/CarMaker.win32.pdb
src/CarMaker.win64.pdb
src/CarMaker.linux32
src/CarMaker.linux64

# Ignore VSCode project metadata
src/.vscode/

# Ignore Visual Studio project metadata
src/.vs/

# Ignore Visual C++ build artefacts
src/Debug/
src/Release/

# Ignore Eclipse C/C++ build artefacts
src/Work/

# Ignore output 'bin' folder for compiled executables
bin/

# Ignore CarMaker project outputs and cache
SimOutput/
Movie/.road_cache/
